<div class="container">



    <div class="mainHead text-center">
      <h1><span>MOVE</span>-IT</h1>
      <p>Employee Personal Page</p>
    </div>

    <button type="button"
    class="btn btn-warning intro" routerLink="/employeesList">Enter</button>
    </div >


    <footer >
      <ul class="list-unstyled">
        <li><i class="fab fa-twitter"></i></li>
        <li><i class="fab fa-youtube"></i></li>
        <li><i class="fab fa-facebook"></i></li>
      </ul>

      <p>all rights reserved. powered by the ahmed shokry</p>
    </footer>
